body{
font-family: Arial, Helvetica, sans-serif;
background-color: #f0f0f0;
margin: 0;
text-align: center;
padding: 20px;
min-height: 80vh;
}

.container {
max-width: 800px;
margin: auto;
}

.semaforo {
 background: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
 width: 120px;
 height: 320px;
border-radius: 30px;
margin: 20px auto;
padding: 15px 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
 box-shadow:
   0 0 10px rgba(0, 0, 0, 0.8),
   4px 4px 15px rgba(0, 0, 0, 0.6),
   -4px -4px 10px rgba(255,255,255,0.1)

}


.led  {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    background:radial-gradient(circle at 30% 30%, #222 0%, #000);
    box-shadow:
       inset -3px -3px 10px rgba(0, 0, 0, 0.6),
       inset 3px 3px 10px rgba(255, 255, 255, 0.1),
       0 0 8px rgba(0, 0, 0, 0.8)
    ;
    transition: background 0.3s ease, box-shadow 0.3s;
    box-shadow: 0 0 5px #000;
}

.vermelho{
    background: radial-gradient(circle at 30% 30%, #ff0000, #a00000);
    box-shadow: 0 0 20px 8px red, inset -2px -2px 6px #ff9999;
}

.amarelo{
    background: radial-gradient(circle at 30% 30%, #fff176, #bba700);
    box-shadow: 0 0 20px 8px yellow, inset -2px -2px 6px #ffff99;
}

.verde{
    background: radial-gradient(circle at 30% 30%, #81c784, #006400);
    box-shadow: 0 0 20px 8px green, inset -2px -2px 6px #a0f5a0;
}

